.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33%;
}

.post h2 {
  border-bottom: 2px solid crimson;
  width: max-content;
  padding-right: 20px;
}

.post img {
  width: 260px;
  border-radius: 6px;
}

.description {
  text-align: justify;
}

.post svg {
  width: 22px;
}

.postFooter {
  margin-top: 10px;
}